NEXT_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=TU_ANON_KEY_PUBLICA
SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY_PRIVADA
NEXT_PUBLIC_ADMIN_PIN=1234
NEXT_PUBLIC_WHATSAPP_NUMBER=56912345678
CONTACT_EMAIL=correo@ejemplo.cl
